.piano {
  display: grid;
  width: 100%;
  max-width: 900px;
  min-width: 100px;
  padding: 16px;
  gap: 8px;
}

@media only screen and (max-width: 600px) {
  .piano {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 600px) {
  .piano {
    grid-template-columns: repeat(7, 1fr);
  }
}
