.piano-key {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .piano-key {
    aspect-ratio: 2 / 3;
  }
}

@media only screen and (min-width: 600px) {
  .piano-key {
    aspect-ratio: 1 / 2;
  }
}

.piano-key-label {
  user-select: none;
}
