html {
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  padding: 24px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .page-title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 600px) {
  .page-title {
    font-size: 6rem;
  }
}
